.app{width:100%;height:100%}@font-face{font-family:Herokid;src:url(./herokid.otf) format("opentype");font-weight:400;font-style:normal}*{margin:0;padding:0;box-sizing:border-box}html,body,#root{width:100%;height:100%;overflow:hidden}
